:host {
    background: #fdfdfd;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    box-shadow: #e4e4e4 5px 5px 10px;
}

.prompt {
    color: #6f6f6f;
}

.item-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    img {
        width: 12rem;
        margin-right: 1.6rem;
        margin-bottom: 1.6rem;
    }

    .item-content {
        min-width: 14rem;
        flex-basis: 0;
        flex-grow: 1;
        margin-bottom: 1.6rem;

        .item-subtitle {
            color: #949494;
        }

        .item-type {
            color: #69ccab;
            margin-top: 0.6rem;

            i {
                margin-right: 0.4rem;
            }
        }
    }
}

.divider {
    width: 10rem;
    height: 0.2rem;
    background: #dddddd;
    margin: 1.4rem;
}

.action-buttons {

    button {
        padding: 1rem 2rem;
        border-radius: 3px;
        color: white;
        font-weight: 600;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        outline: none;

        i {
            margin-right: 0.4rem;
        }

        &:first-of-type {
            margin-right: 1rem;
        }
    }

    .no-btn {
        background-color: #da6c6c;

        &:hover {
            background-color: #e97474;
        }
    }

    .yes-btn {
        background-color: #67bfa2;

        &:hover {
            background-color: #69ccab;
        }
    }
}
