<h3 class="prompt">Would you {{ item?.type === 'FILM' ? 'watch' : 'read' }} this?</h3>
<div class="divider"></div>
<div *ngIf="item" class="item-container">
    <img [src]="item.thumbnail" alt="item.title">
    <div class="item-content">
        <h2>{{ item.title }}</h2>
        <h4 *ngIf="item.author" class="item-subtitle">{{ item.author }}</h4>
        <h3 class="item-type">
            <i
                class="fa"
                [class.fa-book]="item.type === 'BOOK'"
                [class.fa-film]="item.type === 'FILM'"
            >
            </i>
            {{ item.type | titlecase }}
        </h3>
        <p>{{ item.description }}</p>
    </div>
</div>
<p *ngIf="!item">Loading...</p>
<div class="action-buttons">
    <button (click)="rateItem(false)" class="no-btn"><i class="fa fa-times"></i>No</button>
    <button (click)="rateItem(true)" class="yes-btn"><i class="fa fa-check"></i>Yes</button>
</div>
