/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    background: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4b4b4b;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}
