:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12rem;
}

.title {
    margin: 1.6rem;
    color: #54df8e;

    i {
        margin-left: 0.4rem;
    }
}

.leaves-container {
    max-width: 700px;
}
